table(id='sourcestable' class='table table-striped')
  thead
    tr
      th Name
      th Categories
      th Grade
      th Description
      th License Info
      th License Issues
  tfoot
    tr
      th Name
      th Categories
      th Grade
      th Description
      th License Info
      th License Issues
  tbody
    each source, index in data_sources
      tr
        td 
          a(href=source['source-link']) #{ source.source }
        td #{ source['data-field'] } #{ source['data-type'] } #{ source['data-categories'] }
        case source.grade
          when 'gold'
            td(style='color:#ffd700;font-size:1.5em;') &#x2605;&nbsp;&#x2605;&nbsp;&#x2605;&nbsp;&#x2605;
          when 'green'
            //td(class='bg-success text-white') &#x2605;&nbsp;&#x2605;&nbsp;&#x2605;
            td
              span(style="color:green;") &#x2605;&nbsp;&#x2605;&nbsp;&#x2605;
          when 'yellow'
            //td(class='bg-warning text-white') &#x2605;&nbsp;&#x2605;
            td
              span(style="color:orange;") &#x2605;&nbsp;&#x2605;
          when 'red'
            //td(class='bg-danger text-white') &#x2605;
            td
              span(style="color:red;") &#x2605;
          default
            //td(class='bg-inverse text-white') ?
            td
              strong ?
        td #{ source.description }
        td
          a(href=source['license-link']) #{ source['license-type'] }
        td
          if source['license-issues'] && source['license-issues'].length !== 0
            dl
              each issue, index in source['license-issues']
                dt
                  // a(href='#criteria-' + issue.criteria) Criteria&nbsp;#{issue.criteria}
                  a(href='#our-criteria') Criteria&nbsp;#{issue.criteria}
                dd
                  small(class="text-muted") #{ issue.comment }
          if source['license-commentary'] && source['license-commentary'].length !== 0
            button(class="btn btn-secondary btn-sm" role="button" data-toggle="popover" title="License commentary" data-placement="left" data-content=source['license-commentary-embeddable']) Commentary
          else
            span
